# Added by Payload
DATABASE_URI=postgres://user:password@host:port/dbname
PAYLOAD_SECRET=your-payload-secret-here
RESEND_API_KEY=your-resend-api-key-here
TURNSTILE_SECRET_KEY=your-cloudflare-key-here
WEBSITE_URL=https://www.guzek.uk
IP_BLACKLIST="192.168.0.123;10.0.0.100"
CRON_API_TOKEN=your-cron-secret-here
CRON_USER_USERNAME=cron
CRON_USER_PASSWORD='supersecret-password'
TVMAZE_SCRAPER_BASE_URL=https://tvmaze-scraper.guzek.uk
