@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #bbb;
  --color-primary-strong: #fff;
  --color-background: #262322;
  --color-background-strong: hsl(30 10 4);
  --color-background-soft: hsl(30 6 35);
  --color-accent: #2596be;
  --color-accent-soft: #c9dae0;
  --color-accent2: #c9b86e;
  --color-success: #3dc983;
  --color-error: #b64949;

  --radius: 0.5rem;

  --font-sans: Raleway, Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Roboto Slab", ui-serif, Georgia, serif;
  --font-raleway: Raleway, Inter, ui-sans-serif, system-ui, sans-serif;
  --font-roboto-slab: "Roboto Slab", ui-serif, Georgia, serif;
}

@utility text {
  font-family: var(--font-raleway);
  font-weight: 500;
  margin-left: 5vw;
  margin-right: 5vw;
  @media (min-width: 640px) {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@utility clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

@utility underlined {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 100% 1px;
}

@utility hover-underline {
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 1px;
  transition:
    all 300ms,
    background-position 0ms ease-in;
  background-repeat: no-repeat;
  background-position: right bottom;
  &:hover {
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 100% 1px;
    background-position: left bottom;
  }
}

@utility skeleton {
  animation: 4s ease skeleton infinite;
  opacity: 0.4;
}

@utility skeleton-text {
  height: 21px;
  max-width: 100%;
  background-color: var(--color-background-soft);
  border-radius: 15px;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-5px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes skeleton {
  50% {
    opacity: 0.8;
  }
  90%,
  100% {
    opacity: 0.4;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    --card-width: 240px;
    --card-padding: 20px;
    --navbar-height: 80px;
  }
  @media (min-width: 640px) {
    :root {
      --navbar-height: 100px;
    }
  }

  a {
    text-decoration: none;
    color: var(--color-primary-strong);
  }

  button {
    font-size: unset;
    font-family: unset;
    font-weight: unset;
    cursor: pointer;
  }

  ul {
    list-style: none;
  }

  html {
    height: 95%;
  }

  body {
    font-family: var(--font-raleway);
    font-size: 1.2rem;
  }

  ::selection {
    color: var(--color-background);
    background: var(--color-accent2);
  }
}
